header {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #ccc;

  .wrap {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 980px;

    .logo {
      display: block;
      width: 120px;
      position: absolute;
      left: 20%;
      top: -1%;
      -webkit-transform: translateY(-2%);
      -moz-transform: translateY(-2%);
      transform: translateY(-2%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}
